/Consulta de CEP
/contador de caracteres
/projeto facebok
/projeto fonefake-landingpage
/Projeto google (GOOGLE CLONE)
/Sistema para calculo de IMC
/Site Gerador de Senha
/Site Sorteador
/Tela de login com input de senha Dinamico
/To Do List